<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vue Playground</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <style>
            .done{
                text-decoration: line-through;
            }
        </style>
    </head>
    <body>
        <main id="app">
            <v-app>
                <h1>{{ title }}</h1>
                <form @submit.prevent="addTodo">
                    <label for="newTodo">New Task</label>
                    <input v-model="newTodo" type="text" name="newTodo" id="newTodo" value="" required>
                    <button type="submit" name="button">Add</button>
                </form>
                <button @click="alldone" type="button">Mark all as Done</button>
                <ul>
                    <li v-for="task in tasks">
                        <input type="checkbox" v-model="task.done">
                        <h3 :class="{ done : task.done }">{{task.title}}</h3>
                        <button @click="removetodo(task)" type="button">Remove</button>
                    </li>
                </ul>
            </v-app>
        </main>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="app.js"></script>
    </body>
</html>