<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Vue Playground</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
        <style>
            .done{
                text-decoration: line-through;
            }
        </style>
    </head>
    <body>
        <main id="app">
            <v-app>
                <v-container>
                    <h1>{{ title }}</h1>
                    <v-form @submit.prevent="addTodo">
                        <v-text-field v-model="newTodo" type="text" name="newTodo" id="newTodo" label="Add New Task" :rules="rules.required" required clearable></v-text-field>
                        <v-row justify="space-between">
                            <v-btn type="submit" color="primary" @click="conditions = false">Add</v-btn>
                            <v-btn @click="alldone" type="button">
                                <v-icon>library_add_check</v-icon>
                            </v-btn>
                        </v-row>
                    </v-form>
                    <ul>
                        <li v-for="task in tasks">
                            <v-hover>
                                <v-row 
                                align="center"
                                justify="space-between">
                                    <v-checkbox type="checkbox" v-model="task.done"></v-checkbox>
                                    <span :class="{ done : task.done }">{{task.title}}</span>
                                    <v-btn @click="removetodo(task)" type="button" color="error">
                                        <v-icon>delete_sweep</v-icon>
                                    </v-btn>
                                </v-row>
                            </v-hover>
                        </li>
                    </ul>
                </v-container>
            </v-app>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="app.js"></script>
    </body>
</html>